{% extends "base.html" %}
{% block head %}
<meta property="og:title" content="{{ article.title }}">
<meta property="og:url" content="http://mi.perpli.me/{{ article.url }}">
<meta property="og:image" content="{{ article.source_path | replace('/home/fischio/mi.perpli.me/content/', 'http://mi.perpli.me/images/') | replace('.md', '') }}">
{% endblock %}
{% block content %}
<article class="post">
  <header>
    <h2 class="entry-title">
      <a href="http://mi.perpli.me/{{ article.url }}" rel="bookmark"
         title="{{ article.title|striptags }}">{{ article.title }}</a></h2>
  </header>
    <abbr class="date" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </abbr>
  <div class="entry">
    {{ article.content }}
  </div>
</article>
{% endblock %}
