<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        <meta charset="utf-8" />
        <title>{% block title %}mi.perpli.me{% endblock title %}</title>
        <link rel="stylesheet" href="/theme/css/vostok.css" media="screen"/>
        <link rel="stylesheet" href="/theme/css/vostok-print.css" media="print"/>
        <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
        <!--[if IE 7]>
                <link rel="stylesheet" type="text/css" href="http://static.tumblr.com/0vccnsa/fmHl92g3t/vostok-ie7.css" />
        <![endif]-->
                                    
        <!--[if IE 6]>
                <link rel="stylesheet" type="text/css" href="http://static.tumblr.com/0vccnsa/ekOl92g37/vostok-ie6.css" />
        <![endif]-->
	{% block head %}{% endblock %}
</head>

<body id="index" class="home">
    <div id="wrapper">
        <header id="header" class="body">
                <h1><a href="http://mi.perpli.me">mi.perpli.me</a></h1>
                <p class="description">immagini maschie col fischio</p>
        </header>
        <nav id="menu"><ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% else %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        {% endif %}
        </ul></nav>
        <div class="content">
            {% block content %}
            {% endblock %}
            <footer id="footer" class="body">
                    mi.perpli.me is powered by <a href="http://github.com/informateci/mi.perpli.me">mi.perpli.me</a>,
                    and <a href="http://www.vostoktheme.com">Vostok Theme</a>.
            </footer>
        </div>
    </div>
</body>
</html>
